In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("./kz.csv")

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2633521 entries, 0 to 2633520
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   order_id       int64
 2   product_id     int64
 3   category_id    float64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        float64
dtypes: float64(3), int64(2), object(3)
memory usage: 160.7+ MB

In [20]:
df.head(5)

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2294359932054536986,1515966223509089906,2.268105e+18,electronics.tablet,samsung,162.01,1.515916e+18
1,2020-04-24 11:50:39 UTC,2294359932054536986,1515966223509089906,2.268105e+18,electronics.tablet,samsung,162.01,1.515916e+18
2,2020-04-24 14:37:43 UTC,2294444024058086220,2273948319057183658,2.268105e+18,electronics.audio.headphone,huawei,77.52,1.515916e+18
3,2020-04-24 14:37:43 UTC,2294444024058086220,2273948319057183658,2.268105e+18,electronics.audio.headphone,huawei,77.52,1.515916e+18
4,2020-04-24 19:16:21 UTC,2294584263154074236,2273948316817424439,2.268105e+18,NaN,karcher,217.57,1.515916e+18

In [21]:
df[df.columns[df.isna().any()]].isna().sum()

category_id       431954
category_code     612202
brand             506005
price             431954
user_id          2069352
dtype: int64

For better analysis, I delete orders that do not have an assigned user id or category.

In [22]:
df.dropna(subset=['user_id','category_code'],inplace=True)
df

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2294359932054536986,1515966223509089906,2.268105e+18,electronics.tablet,samsung,162.01,1.515916e+18
1,2020-04-24 11:50:39 UTC,2294359932054536986,1515966223509089906,2.268105e+18,electronics.tablet,samsung,162.01,1.515916e+18
2,2020-04-24 14:37:43 UTC,2294444024058086220,2273948319057183658,2.268105e+18,electronics.audio.headphone,huawei,77.52,1.515916e+18
3,2020-04-24 14:37:43 UTC,2294444024058086220,2273948319057183658,2.268105e+18,electronics.audio.headphone,huawei,77.52,1.515916e+18
5,2020-04-26 08:45:57 UTC,2295716521449619559,1515966223509261697,2.268105e+18,furniture.kitchen.table,maestro,39.33,1.515916e+18
...,...,...,...,...,...,...,...,...
2633515,2020-11-21 10:08:54 UTC,2388440981134693941,1515966223509088622,2.374499e+18,electronics.video.tv,lg,370.35,1.515916e+18
2633516,2020-11-21 10:10:01 UTC,2388440981134693942,1515966223526602848,2.268105e+18,electronics.smartphone,oppo,138.87,1.515916e+18
2633517,2020-11-21 10:10:13 UTC,2388440981134693943,1515966223509089282,2.268105e+18,electronics.smartphone,apple,418.96,1.515916e+18
2633518,2020-11-21 10:10:30 UTC,2388440981134693944,1515966223509089917,2.268105e+18,appliances.personal.scales,vitek,12.48,1.515916e+18
2633520,2020-11-21 10:10:30 UTC,2388440981134693944,1515966223509127566,2.268105e+18,appliances.kitchen.blender,redmond,53.22,1.515916e+18

In [23]:
df[df.columns[df.isna().any()]].isna().sum()

brand    14081
dtype: int64

In [24]:
df = df.reset_index(drop=True)
df

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2294359932054536986,1515966223509089906,2.268105e+18,electronics.tablet,samsung,162.01,1.515916e+18
1,2020-04-24 11:50:39 UTC,2294359932054536986,1515966223509089906,2.268105e+18,electronics.tablet,samsung,162.01,1.515916e+18
2,2020-04-24 14:37:43 UTC,2294444024058086220,2273948319057183658,2.268105e+18,electronics.audio.headphone,huawei,77.52,1.515916e+18
3,2020-04-24 14:37:43 UTC,2294444024058086220,2273948319057183658,2.268105e+18,electronics.audio.headphone,huawei,77.52,1.515916e+18
4,2020-04-26 08:45:57 UTC,2295716521449619559,1515966223509261697,2.268105e+18,furniture.kitchen.table,maestro,39.33,1.515916e+18
...,...,...,...,...,...,...,...,...
434794,2020-11-21 10:08:54 UTC,2388440981134693941,1515966223509088622,2.374499e+18,electronics.video.tv,lg,370.35,1.515916e+18
434795,2020-11-21 10:10:01 UTC,2388440981134693942,1515966223526602848,2.268105e+18,electronics.smartphone,oppo,138.87,1.515916e+18
434796,2020-11-21 10:10:13 UTC,2388440981134693943,1515966223509089282,2.268105e+18,electronics.smartphone,apple,418.96,1.515916e+18
434797,2020-11-21 10:10:30 UTC,2388440981134693944,1515966223509089917,2.268105e+18,appliances.personal.scales,vitek,12.48,1.515916e+18
434798,2020-11-21 10:10:30 UTC,2388440981134693944,1515966223509127566,2.268105e+18,appliances.kitchen.blender,redmond,53.22,1.515916e+18

In [25]:
df['event_time']=pd.to_datetime(df['event_time'])
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434799 entries, 0 to 434798
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   event_time     434799 non-null  datetime64[ns, UTC]
 1   order_id       434799 non-null  int64
 2   product_id     434799 non-null  int64
 3   category_id    434799 non-null  float64
 4   category_code  434799 non-null  object
 5   brand          420718 non-null  object
 6   price          434799 non-null  float64
 7   user_id        434799 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(3), int64(2), object(2)
memory usage: 26.5+ MB

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39+00:00,2294359932054536986,1515966223509089906,2.268105e+18,electronics.tablet,samsung,162.01,1.515916e+18
1,2020-04-24 11:50:39+00:00,2294359932054536986,1515966223509089906,2.268105e+18,electronics.tablet,samsung,162.01,1.515916e+18
2,2020-04-24 14:37:43+00:00,2294444024058086220,2273948319057183658,2.268105e+18,electronics.audio.headphone,huawei,77.52,1.515916e+18
3,2020-04-24 14:37:43+00:00,2294444024058086220,2273948319057183658,2.268105e+18,electronics.audio.headphone,huawei,77.52,1.515916e+18
4,2020-04-26 08:45:57+00:00,2295716521449619559,1515966223509261697,2.268105e+18,furniture.kitchen.table,maestro,39.33,1.515916e+18
...,...,...,...,...,...,...,...,...
434794,2020-11-21 10:08:54+00:00,2388440981134693941,1515966223509088622,2.374499e+18,electronics.video.tv,lg,370.35,1.515916e+18
434795,2020-11-21 10:10:01+00:00,2388440981134693942,1515966223526602848,2.268105e+18,electronics.smartphone,oppo,138.87,1.515916e+18
434796,2020-11-21 10:10:13+00:00,2388440981134693943,1515966223509089282,2.268105e+18,electronics.smartphone,apple,418.96,1.515916e+18
434797,2020-11-21 10:10:30+00:00,2388440981134693944,1515966223509089917,2.268105e+18,appliances.personal.scales,vitek,12.48,1.515916e+18
434798,2020-11-21 10:10:30+00:00,2388440981134693944,1515966223509127566,2.268105e+18,appliances.kitchen.blender,redmond,53.22,1.515916e+18

In [26]:
temp_df = df['category_code'].str.rsplit('.',n=1, expand=True)
df = df.drop(columns='category_code')
df['product_category'] = temp_df[1]
df

,event_time,order_id,product_id,category_id,brand,price,user_id,product_category
0,2020-04-24 11:50:39+00:00,2294359932054536986,1515966223509089906,2.268105e+18,samsung,162.01,1.515916e+18,tablet
1,2020-04-24 11:50:39+00:00,2294359932054536986,1515966223509089906,2.268105e+18,samsung,162.01,1.515916e+18,tablet
2,2020-04-24 14:37:43+00:00,2294444024058086220,2273948319057183658,2.268105e+18,huawei,77.52,1.515916e+18,headphone
3,2020-04-24 14:37:43+00:00,2294444024058086220,2273948319057183658,2.268105e+18,huawei,77.52,1.515916e+18,headphone
4,2020-04-26 08:45:57+00:00,2295716521449619559,1515966223509261697,2.268105e+18,maestro,39.33,1.515916e+18,table
...,...,...,...,...,...,...,...,...
434794,2020-11-21 10:08:54+00:00,2388440981134693941,1515966223509088622,2.374499e+18,lg,370.35,1.515916e+18,tv
434795,2020-11-21 10:10:01+00:00,2388440981134693942,1515966223526602848,2.268105e+18,oppo,138.87,1.515916e+18,smartphone
434796,2020-11-21 10:10:13+00:00,2388440981134693943,1515966223509089282,2.268105e+18,apple,418.96,1.515916e+18,smartphone
434797,2020-11-21 10:10:30+00:00,2388440981134693944,1515966223509089917,2.268105e+18,vitek,12.48,1.515916e+18,scales
434798,2020-11-21 10:10:30+00:00,2388440981134693944,1515966223509127566,2.268105e+18,redmond,53.22,1.515916e+18,blender

In [27]:
df.groupby(df['event_time'].dt.year).count()

,event_time,order_id,product_id,category_id,brand,price,user_id,product_category
event_time,,,,,,,,
1970,861,861,861,861,828,861,861,861
2020,433938,433938,433938,433938,419890,433938,433938,433938

In [28]:
df[df['event_time'].dt.year==1970].sort_values('event_time')

,event_time,order_id,product_id,category_id,brand,price,user_id,product_category
22750,1970-01-01 00:33:40+00:00,2340102749292593592,1515966223509117555,2.268105e+18,dyson,752.29,1.515916e+18,vacuum
29112,1970-01-01 00:33:40+00:00,2348532522901570237,1515966223509089450,2.268105e+18,apple,1433.54,1.515916e+18,smartphone
29113,1970-01-01 00:33:40+00:00,2348532523446829760,2273948227772351313,2.268105e+18,nokia,38.17,1.515916e+18,telephone
29114,1970-01-01 00:33:40+00:00,2348532525468484299,1515966223509089448,2.268105e+18,samsung,138.63,1.515916e+18,smartphone
29115,1970-01-01 00:33:40+00:00,2348532529134306013,2273948295795573691,2.268105e+18,braun,64.79,1.515916e+18,iron
...,...,...,...,...,...,...,...,...
28834,1970-01-01 00:33:40+00:00,2348531857022255758,1515966223509258224,2.268105e+18,philips,115.72,1.515916e+18,meat_grinder
28835,1970-01-01 00:33:40+00:00,2348531857022255758,1515966223509130177,2.268105e+18,peterhof,9.93,1.515916e+18,coffee_machine
28836,1970-01-01 00:33:40+00:00,2348531860805517986,1515966223509105926,2.268105e+18,hyperx,32.15,1.515916e+18,mouse
28838,1970-01-01 00:33:40+00:00,2348531873749140190,1515966223509130920,2.268105e+18,transcend,99.51,1.515916e+18,hdd
29405,1970-01-01 00:33:40+00:00,2348533155973038728,1515966223509259282,2.268105e+18,indesit,198.13,1.515916e+18,washer

In [29]:
df = df[df['event_time'].dt.year>1970].sort_values('event_time').reset_index(drop=True)
df

,event_time,order_id,product_id,category_id,brand,price,user_id,product_category
0,2020-01-05 04:06:18+00:00,2348710347105370326,1515966223509088613,2.268105e+18,apple,203.68,1.515916e+18,headphone
1,2020-01-05 04:09:00+00:00,2348709909622685923,1515966223509127621,2.268105e+18,microlab,27.75,1.515916e+18,notebook
2,2020-01-05 04:35:21+00:00,2348710405431361995,1515966223509129592,2.268105e+18,samsung,11.55,1.515916e+18,screw
3,2020-01-05 04:44:43+00:00,2348709879230758992,1515966223509259180,2.268105e+18,lg,578.68,1.515916e+18,washer
4,2020-01-05 04:56:26+00:00,2348710371440722247,1515966223509298224,2.268105e+18,rivacase,28.91,1.515916e+18,bag
...,...,...,...,...,...,...,...,...
433933,2020-11-21 10:08:54+00:00,2388440981134693941,1515966223509088622,2.374499e+18,lg,370.35,1.515916e+18,tv
433934,2020-11-21 10:10:01+00:00,2388440981134693942,1515966223526602848,2.268105e+18,oppo,138.87,1.515916e+18,smartphone
433935,2020-11-21 10:10:13+00:00,2388440981134693943,1515966223509089282,2.268105e+18,apple,418.96,1.515916e+18,smartphone
433936,2020-11-21 10:10:30+00:00,2388440981134693944,1515966223509089917,2.268105e+18,vitek,12.48,1.515916e+18,scales
433937,2020-11-21 10:10:30+00:00,2388440981134693944,1515966223509127566,2.268105e+18,redmond,53.22,1.515916e+18,blender

In [30]:
df.to_pickle("./e_store.pkl")

In [31]:
del df